  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

